<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
  <script src="/static/index.js"></script>
  <script src="/static/input_manipulation.js"></script>

  <title>Agnosco - 3dsecure.io demo application</title>
</head>
<body onload="prettifyJson()">
  <main>
    <h2>Agnosco - 3dsecure.io</h2>
    <br/>
    <h3>3-D Secure v2 demo application</h3>
    <div class="content">
      <div class="left">
        <form method="POST" action="javascript:void(0);">
          <!--<div class="input-group">
            <label for="acctNumber">Card Number</label>
            <input name="acctNumber" id="acctNumber" placeholder="Account Number (PAN)" minlength="13" maxlength="19" type="text" pattern="^\d+$" inputmode="numeric"></input>
          </div>-->

          <div class="input-group">
            <label for="input">Input JSON:</label>
            <textarea name="areq" id="input" placeholder="Paste AReq here">
{
  "acctNumber": "3000100811113072",
  "cardExpiryDate": "1910",

  "acquirerBIN": "868491",
  "acquirerMerchantID": "mGm6AJZ1YotkJJmOk0fx",
  "mcc": "5411",
  "merchantCountryCode": "840",
  "merchantName": "Dummy Merchant",

  "messageType": "AReq",
  "messageVersion": "2.3.1",
  "messageCategory": "01",
  "deviceChannel": "02",
  "transType": "01",

  "threeDSRequestorAuthenticationInd": "01",
  "threeDSRequestorID": "az0123456789",
  "threeDSRequestorName": "Example Requestor name",
  "threeDSRequestorURL": "https://threedsrequestor.adomainname.net",

  "purchaseAmount": "101",
  "purchaseCurrency": "840",
  "purchaseExponent": "2",

  "cardholderName": "Cardholder Name",
  "email": "example@example.com",
  "mobilePhone": {
    "cc": "123",
    "subscriber": "123456789"
  },

  "billAddrCity": "Bill City Name",
  "billAddrCountry": "840",
  "billAddrLine1": "Bill Address Line 1",
  "billAddrPostCode": "Bill Post Code",
  "billAddrState": "CO",

  "shipAddrCity": "Ship City Name",
  "shipAddrCountry": "840",
  "shipAddrLine1": "Ship Address Line 1",
  "shipAddrPostCode": "Ship Post Code",
  "shipAddrState": "CO"
}
            </textarea>
          </div>

          <button id="submit" class="submit" type="submit">Submit</button>
        </form>
				<div class="container">
        <h3>Sandbox mode:</h3>
        <div class="table">
            <div class="row">
                <div class="cell">Version</div>
                <div class="cell">Method</div>
                <div class="cell">ARes transStatus</div>
                <div class="cell">Challengeflow</div>
            </div>
            <div class="row">
                <div class="cell"><button class="button" onclick="setVersion('0')">All version supported</button></div>
                <div class="cell"><button class="button" onclick="set3DSMethod('0')">With 3DS method included</button></div>
                <div class="cell"><button class="button" onclick="setAresStatus('0')">Y</button></div>
                <div class="cell"><button class="button" onclick="setChallengeFlowOutcome('2')">Manual</button></div>
            </div>
            <div class="row">
                <div class="cell"><button class="button" onclick="setVersion('1')">2.1.0</button></div>
                <div class="cell"><button class="button" onclick="set3DSMethod('1')">With 3DS method missing</button></div>
                <div class="cell"><button class="button" onclick="setAresStatus('1')">N</button></div>
                <div class="cell"><button class="button" onclick="setChallengeFlowOutcome('0')">Automatically passes</button></div>
            </div>
            <div class="row">
                <div class="cell"><button class="button" onclick="setVersion('2')">2.2.0</button></div>
                <div class="cell"><button class="button" onclick="set3DSMethod('2')">With 3DS method timeout</button></div>
                <div class="cell"><button class="button" onclick="setAresStatus('2')">A</button></div>
                <div class="cell"><button class="button" onclick="setChallengeFlowOutcome('2')">Automatically fails</button></div>
            </div>
            <div class="row">
                <div class="cell"><button class="button" onclick="setVersion('3')">2.3.1.1</button></div>
                <div class="cell"></div>
                <div class="cell"><button class="button" onclick="setAresStatus('3')">R</button></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"><button class="button" onclick="setAresStatus('4')">I</button></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"><button class="button" onclick="setAresStatus('5')">U</button></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"><button class="button" onclick="setAresStatus('6')">DS timeout</button></div>
                <div class="cell"></div>
            </div>
        </div>
    		</div>
      </div>
      <div class="right"></div>
    </div>
  </main>
  <form class="" id="challengeForm">
    <input type="hidden" name="creq" id="creq"/>
  </form>
</body>
</html>
