<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
  <script src="/static/index.js"></script>

  <title>Agnosco - 3dsecure.io demo application</title>
</head>
<body>
  <main>
    <h2>Agnosco - 3dsecure.io</h2>
    <br/>
    <h3>3-D Secure v2 demo application</h3>
    <div class="content">
      <div class="left">
        <form method="POST" action="javascript:void(0);">
          <!--<div class="input-group">
            <label for="acctNumber">Card Number</label>
            <input name="acctNumber" id="acctNumber" placeholder="Account Number (PAN)" minlength="13" maxlength="19" type="text" pattern="^\d+$" inputmode="numeric"></input>
          </div>-->

          <div class="input-group">
            <label for="input">Input JSON:</label>
            <textarea name="areq" id="input" placeholder="Paste AReq here">
{
  "acctNumber": "PAN",
  "cardExpiryDate": "YYMM",
  "acquirerBIN": "get this from your acquirer; (usually) the same as for 3DSv1",
  "acquirerMerchantID": "the merchant is enrolled with this value",

  "purchaseAmount": "101",
  "purchaseCurrency": "840",
  "purchaseExponent": "2",
  "purchaseDate": "20210108235959"

  "transType": "01",
  "threeDSCompInd": "Y",
  "threeDSRequestorID": "az0123456789",
  "threeDSRequestorName": "Example Requestor name",
  "threeDSRequestorURL": "https://threedsrequestor.adomainname.net",
  "billAddrCity": "Bill City Name",
  "billAddrCountry": "840",
  "billAddrLine1": "Bill Address Line 1",
  "billAddrPostCode": "Bill Post Code",
  "billAddrState": "CO",
  "email": "example@example.com",
  "threeDSRequestorAuthenticationInd": "01",
  "mobilePhone": {
    "cc": "123",
    "subscriber": "123456789"
  },
  "cardholderName": "Cardholder Name",
  "shipAddrCity": "Ship City Name",
  "shipAddrCountry": "840",
  "shipAddrLine1": "Ship Address Line 1",
  "shipAddrPostCode": "Ship Post Code",
  "shipAddrState": "CO",
  "deviceChannel": "02",
  "browserJavascriptEnabled": true,
  "browserAcceptHeader": "text/html,application/xhtml+xml,application/xml; q=0.9,*/*;q=0.8",
  "browserIP": "192.168.1.11",
  "browserJavaEnabled": true,
  "browserLanguage": "en",
  "browserColorDepth": "48",
  "browserScreenHeight": "400",
  "browserScreenWidth": "600",
  "browserTZ": "0",
  "browserUserAgent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0",
  "mcc": "5411",
  "merchantCountryCode": "840",
  "merchantName": "Dummy Merchant",
  "messageCategory": "01",
  "messageType": "AReq",
  "messageVersion": "2.1.0",
}
            </textarea>
          </div>

          <button id="submit" class="submit" type="submit">Submit</button>
        </form>
      </div>
      <div class="right"></div>
    </div>
  </main>
  <form class="" id="challengeForm">
    <input type="hidden" name="creq" id="creq"/>
  </form>
</body>
</html>
